
build-src-Desktop_Qt_MSVC2019_64bit-Debug/

*.user

build-src-Desktop_Qt_5_15_1_MSVC2019_64bit-Debug/

src/out/

*.dll

src/build/

src/.vs/

build/

build-src-Desktop_Qt_5_15_2_GCC_64bit-Debug/

bin/manolab-studio.exe

build-src-Desktop_Qt_5_13_1_MinGW_64_bit-Debug/

delivery/bin/

*.csv

src/plugins/build-zebrafx7500-Desktop_Qt_5_15_1_MSVC2019_64bit-Release/
